
include "evrbase.db"


record(mbbo, "$(P)Src:Clk-SP") {
  field(DTYP, "Obj Prop uint16")
  field(OUT , "@OBJ=$(OBJ), PROP=Clock Mode")
  field(PINI, "YES")
  field(ZRST, "EVG")
  field(ONST, "Internal")
  field(ZRVL, "0")
  field(ONVL, "1")
  field(FLNK, "$(P)Src:Clk-RB")
}

record(mbbi, "$(P)Src:Clk-RB") {
  field(DTYP, "Obj Prop uint16")
  field(INP , "@OBJ=$(OBJ), PROP=Clock Mode")
  field(PINI, "YES")
  field(ZRST, "EVG")
  field(ONST, "Internal")
  field(ZRVL, "0")
  field(ONVL, "1")
}
