# UDEV rule giving access to MRF device
KERNEL=="uio*", ATTR{name}=="mrf-pci", GROUP="mrfioc2", MODE="0660", RUN+="/bin/chmod g+rw %S%p/resource0 && /bin/logger UDEV rule giving access to MRF device %S%p"
