Source: mrf-dkms
Section: devel
Priority: extra
Maintainer: Gabriel Fedel <gabriel.fedel@ess.eu>
Build-Depends: debhelper (>= 9),dkms

Package: mrf-dkms
Architecture: all
Depends: ${misc:Depends},
Description:  Kernel driver for MRF timing cards.
 Installs the kernel driver for interfacing to the
 Micro Research Finland (MRF) timing cards over PCI/PCIe.
 The driver is installed using dkms.
