record(ao,"$(PV):TimeStamp") {
    field(DESC,"$(Event) Time Stamp")
    field(DTYP,"EVG Basic Seq Event")
    field(OUT,"@Name=$(Event);Fn=Time;C=$(C);Seq=$(Seq)")
    field(SCAN,"Passive")
    field(EGUF,"1.e-9")
    field(EGU,"nSec")
    field(LINR,"NO CONVERSION")
}
